<div class="header">
    <ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Profile</a></li>
		<li><a href="/logout">Logout</a></li>
    </ul>
	<h3 class="text-muted">Todos</h3>
	</div>
	<div class="jumbotron">
    <h1><%= title %></h1>
    <p class="lead">This is a todo list built using MEAN (MongoDB, ExpressJS, AngularJS and NodeJS). The ideal frameworks for a hackathon project.</p>
    <!-- <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p> -->
</div>
<form id="form-parent" ng-submit="addToDo()">
    <input ng-model="todoItem" class="form-control" type="text" add-todo id="todo-form" name="todoItem" size="30" placeholder="What do you want to do?" />
</form>
<p class="message">{{message}}</p>
<div id="todo-list">
	<div class="todo-item slide-right completed-{{ item.completed }}" id="{{ item._id }}" ng-repeat="item in todos" >
		<h3 class="clearfix"><a type="button" check-mark class="check btn btn-info"><span class="glyphicon glyphicon-ok"></span></a>
		<span class="label label-default" contenteditable="true" >{{ item.item }}</span></h3>
	</div>
</div>