<!DOCTYPE html>
<html ng-app="Todo">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
  	<div class="container" ng-controller="AppCtrl">
	    <h1><%= title %></h1>
	    <p>Hi {{name}}</p>
	    <p>Welcome to <%= title %></p>
	    <input ng-model="todoItem" type="text" name="todoItem" size="30" placeholder="What do you want to do?" />
	    <button ng-click="addToDo()">Add</button>
	    <p class="message">{{message}}</p>
	    <div id="todo-list">
	    	<div class="todo-item" id="{{ item._id }}" ng-repeat="item in todos">
	    		{{ item.item }}
	    		<button ng-click="deleteTodo(item)">-</button>
	    	</div>
	    </div>
	    <div ng-view>
	    	
	    </div>
	</div>
	<!-- Debugging -->
	{{ todos|json }}
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>