/* app css stylesheet */
body.app{
  background-color: #333;
  padding: 20px 0 0;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.fb-auth{
  background-image: url(../images/connect-with-facebook.png);
  width: 205px;
  height: 42px;
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
}
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
a:hover{
  text-decoration: none;
}
.header h3 a{
  color: #fff;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  color: #fff;
}
.nav a{
  color: #51a351;
}
.nav a:hover{
  color: #000;
  cursor: pointer;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
#todo-form, #search-form{
    padding: 25px 2%;
    width: 100%;
    font-size: 20px;
    border-radius: 0;
    margin-bottom: 10px;
}
.todo-item {
/*  -moz-transition: all 0.1s ease-in-out !important;
  -webkit-transition: all 0.1s ease-in-out !important;
  -o-transition: all 0.1s ease-in-out !important;
  transition: all 0.1s ease-in-out !important;*/
  -moz-animation-duration: 1s !important;
  -webkit-animation-delay: 1s !important;
  -o-animation-iteration-count: infinite !important;
  -moz-animation-duration: 1s !important;
  -webkit-animation-delay: 1s !important;
  -o-animation-iteration-count: infinite !important;
  -moz-animation-duration: 1s !important;
  -webkit-animation-delay: 1s !important;
  -o-animation-iteration-count: infinite !important;
  position: relative;
  margin-bottom: 2px;
}
.todo-item.completed-true h3 a.check{
  opacity: 0.2;
}
.todo-item.completed-true h3 span{
  text-decoration: line-through;
  opacity: 0.3;
}
.todo-item .delete span{
  text-decoration: none !important;
}
.todo-item .delete{
  opacity: 0;
  color: rgb(233, 10, 10);
  background-color: transparent !important;
  border: none;
  position: absolute;
  right: 0px;
  top: 2px;
  border-radius: 0;
  padding: 13px;
  background-image: none;
  font-size: 20px;
  box-shadow: none;
  text-shadow: none;  
}
.todo-item:hover .delete{
  opacity: 1;
}
.container{
  padding: 0;
}
.todo-item .label {
  padding: 14px 10px;
  border-radius: 0;
  display: block;
  float: left;
  width: 83%;
  white-space: normal;
  line-height: 24px;
  font-weight: 100;
  text-align: left;
  font-size: 24px;
  background-color: #fff;
  color: #000;
}
.todo-item .btn.check {
  border-radius: 0;
  display: block;
  float: left;
  width: 17%;
  padding: 15px !important; 
}
.todo-item h3 {
    margin: 0;
}
form{
    margin-bottom: 0;
}
/*---- Media Queries ----*/
@media only screen and (min-width: 1200px) {
}
@media (min-width: 980px) {
  .container{
    width: 500px;
  }
  .todo-item .label{
    width: 89%;
  }
  .todo-item .btn.check{
    width: 11%;
  }
}
@media (min-width: 768px) and (max-width: 979px){
  .container{
    width: 500px;
  }
  .todo-item .label{
    width: 89%;
  }
  .todo-item .btn.check{
    width: 11%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .container{
    width: 100%;
    padding:0;
  }
  .todo-item .label{
    width: 89%;
  }
  .todo-item .btn.check{
    width: 11%;
  }
  form{
    margin-bottom: 0;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}